body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
}

.skiptocontent a {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #AF1B3F;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

.skiptocontent a:focus {
    top: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #3b98b4;
    color: white;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0; 
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    
}

nav ul li a {
    color: #EFC69B;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul.main-nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    gap: 20px;
}

/* Main Content - Three-Column Grid */
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
    gap: 20px;
    padding: 20px;
    max-width: 960px;
    margin: 0 auto;
}

/* Article Layout - Adjust grid for two columns within the middle main column */
article {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Adjust as needed for date/book details ratio */
    gap: 20px;
    margin-bottom: 40px;
    /* Ensure article takes full width of its grid area in the main grid */
    grid-column: 1 / 3; /* Span two columns in the main grid */
}

.book-details {
    border-right: 1px solid #eec265;
    padding: 0 20px;
    border-left: 1px solid #eec265;
}

.book-details img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.book-details h2, 
.book-details h3 {
    text-decoration: underline;
    padding-top: 20px;
}

.book-details p {
    text-decoration: none; 
}

.book-details .date {
    font-size: 1.2em;
    margin-top: 0;
    align-self: center;
}

.book-details ul {
    list-style: none;
    padding: 0;
}

.book-details li {
    text-align: right;
    margin-bottom: 5px;
}

.book-details h2 {
    margin-top: 0;
    align-self: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #3b98b4;
    color: white;
}

/* Filters Box - In the third column */
.recommended {
    border: 1px solid #eec265;
    padding: 20px;
    border-radius: 5px;
    grid-column: 3; /* Place in the third column */
    grid-row: 1 / -1; /* Span all rows in the third column */
}

.sort {
    text-align: right;
}